{% extends "admin/base.html.twig" %}

{% block title %}
	{{ parent()}}Créer un Administrateur
{% endblock %}

{% block body %}
	<h1>Modifier un Utilisateur</h1>
	{{ form_start(form)}}
	{{ form_rest(form)}}
	<input type="submit" value="Modifier" class="btn btn-primary">
	{{ form_end(form)}}
{% endblock %}
