{% for key, messages in app.flashes %}
	<div class="alert alert-{{ key }} alert-dismissible fade show container" role="alert">
		{{ messages | join | upper }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
