{% extends "admin/base.html.twig" %}

{% block title %}
	{{ parent() }}Accueil
{% endblock %}

{% block body %}
	<main>
		<section>
			<h1 class="mb-5">Dashboard</h1>
		</section>
	</main>
{% endblock %}
